/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form {
    background-color: rgba(27, 35, 71, 0.9);
    color: #ffffff;
}

.auth-form__column {
    flex: 1;
    padding: 70px 80px;
}

.auth-form__title {
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 300;
    position: relative;
}

.form__title {
    font-size: 28px;
    font-weight: 300;
}

.auth-form__title:after {
    content: "";
    height: 2px;
    background: #49abfe;
    width: 10%;
    display: block;
    position: absolute;
    bottom: 0;
}

.auth-form__text {
    line-height: 35px;
    margin-bottom: 30px;
    font-size: 16px;
}

.form {
    background-color: #fff;
    padding: 20px;
}

.auth-form__modal--login .form--login {
    display: block;
}

.auth-form__modal--signup .form--login {
    display: none;
}

.auth-form__modal--signup .form--signup {
    display: block;
}

.auth-form__modal--login .form--signup {
    display: none;
}

.button, .button {
    border: 2px solid #49abfe;
    border-radius: 25px;
    font-size: 13px;
    padding: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: 50%;
    display: inline-block;
    text-align: center;
}

.button:hover, .button:hover {
    background-color: #49abfe;
}

@media (min-width: 550px) {
    .wrapper {
        height: 100vh;
    }

    .auth-form {
        display: flex;
        max-width: 920px;
        position: relative;
    }

    .auth-form__modal {
        position: absolute;
        top: -20px;
        bottom: -20px;
        background-color: #ffffff;
        box-shadow: 0px 0px 140px 0px rgba(50, 66, 91, 0.3);
        transition:  0.8s linear;
    }

    .auth-form__modal--signup {
        left: 20px;
        right: 50%;
    }

    .auth-form__modal--login {
        left: 50%;
        right: 20px;
    }

    .form {
        padding: 0;
    }
    .auth-form__modal--login .form--login,
    .auth-form__modal--signup .form--login,
    .auth-form__modal--login .form--signup,
    .auth-form__modal--signup .form--signup {
        display: block;
    }

    .auth-form__modal--login .form--login {
        position: absolute;
        left: 90px;
        right: 90px;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 414.494ms linear 385.506ms;
    }

    .auth-form__modal--signup .form--login {
        position: absolute;
        left: 90px;
        right: 90px;
        top: 50%;
        transform: translate(-30px, -50%);
        opacity: 0;
        transition: all 502.534ms linear 0ms;
        pointer-events: none;
    }

    .auth-form__modal--signup .form--signup {
        position: absolute;
        left: 90px;
        right: 90px;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 414.494ms linear 385.506ms;
        opacity: 1;
    }

    .auth-form__modal--login .form--signup {
        position: absolute;
        left: 90px;
        right: 90px;
        top: 50%;
        transform: translate(-30px, -50%);
        transition: all 502.534ms linear 0ms;
        opacity: 0;
        pointer-events: none;
    }


}

.form__title {
    display: flex;
    justify-content: space-between;
    color: #3e495e;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 30px;
}

.form__title:after {
    content: "";
    height: 2px;
    background: #49abfe;
    width: 10%;
    display: block;
    position: absolute;
    bottom: 0;
}

.input-group {
    color: #8495b7;
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
}

.input-group__input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #cbd2df;
    padding-bottom: 5px;
    padding-top: 25px;
    background: transparent;
}

.input-group__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s linear;
    z-index: -1;
    left: 0;
}

.input-group__label-text {
    font-size: 16px;
}

.input-group__label-text:after {
    content: "*";
    color: #f44368;
}

.input-group__icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    fill: #8495b7;
    fill-rule: evenodd;
    transition: .2s linear;
    z-index: -1;
}

.input-group.input-group--active .input-group__label {
    top: 0;
    font-weight: bold;
    text-transform: uppercase;
    transform: translateY(0);
}

.input-group.input-group--active .input-group__icon {
    fill: #49abfe;
}

.login-group__button {
    background-color: #f89a35;
    border-radius: 25px;
    font-size: 13px;
    padding: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: 50%;
    display: inline-block;
    text-align: center;
}

.login-group__button:hover {
    background-color: #f8bf35;
}

.login-group__forgot {
    text-decoration: none;
    color: #8495b7;
    font-size: 16px;
    float: right;
    top: -50%;
    transform: translateY(100%);
}