/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.background {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accounts {
    background-color: #1b2347;
    opacity: 0.9;
    color: #ffffff;
}


.accounts_inside {
    flex: 1;
    padding: 30px;
}

.accounts_inside_title h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 300;
}
.accounts_inside_title, .login-title {
    font-size: 28px;
    font-weight: 300;
}

.accounts_inside_title:after {
    content: "";
    height: 2px;
    background:  #49abfe;
    width: 10%;
    display: block;
    margin-bottom: 30px;
}

.accounts_inside_text {
    line-height: 35px;
    margin-bottom: 20px;
    font-size: 16px;
    
}

.accounts_inside_button {
    border: 1px solid #49abfe;
    border-radius: 25px;
    font-size: 13px;
    padding: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: 50%;
    display: inline-block;
    text-align: center;
}


.accounts_inside_button:hover {
    background-color: #49abfe;
}


@media (min-width: 550px) {
    .background {
    height: 100vh;
   }

    .accounts {
        display: flex;
        max-width: 800px;
        padding: 40px;
        
    }
}

.login {
    flex: 1;
    padding: 30px;
}

.login-title {
    display: flex;
    justify-content: space-between;
    color: #3e495e;
    margin-bottom: 20px;
    position: relative;
}

.login-title:after {
    content: "";
    height: 2px;
    background:  #49abfe;
    width: 10%;
    display: block;
    margin-bottom: 20px;
    position: absolute;
    
}

.input-group {
    color: #8495b7;
    position: relative;
    margin-bottom: 20px;
   
}

.input-group__input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #cbd2df;
    padding: 20px 0;
}

.input-group__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s linear;
}

.input-group__label-text {
    font-size: 16px;
}

.input-group__label-text:after {
    content: "*";
    color: #f44368;
}

.input-group__icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    fill: #8495b7;
    fill-rule:evenodd;
    transition: .2s linear;
}

.input-group.input-group--active .input-group__label {
    top: 0;
    font-weight: bold;
    text-transform: uppercase;
    transform: translateY(0);
 
}

.input-group.input-group--active .input-group__icon {
    fill: #49abfe;
}

.login-group {
 
    
}

.login-group__button {
    background-color: #f89a35;
    border-radius: 25px;
    font-size: 13px;
    padding: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: 50%;
    display: inline-block;
    text-align: center;
    
}

.login-group__button:hover {
    background-color: #f8bf35;
}

.login-group__forgot {
    text-decoration: none;
    color: #8495b7;
    font-size: 16px;
    float: right;
    top: -50%;
    transform: translateY(100%);

}

.poga {
    background: red;
}