/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: "Arial", Helvetica, sans-serif;

}

.background {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accounts {
    background-color: rgba(9, 14, 65, .8);
    color: white;
    
}

.accounts_inside {
    flex: 1;
    padding: 30px;

}

.accounts_inside_title {
    font-size: 25px;
    
}

h2 {
    margin-bottom: 20px;
}

.accounts_inside_title:after {
    content: "";
    height: 2px;
    background:  rgb(0, 172, 237);
    width: 10%;
    display: block;
    margin-bottom: 20px;
}

.accounts_inside_text {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 15px;
}

.accounts_inside_button {
    border: 1px solid rgb(0, 172, 237);
    border-radius: 20px;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: 50%;
    display: inline-block;
    text-align: center;
}



.accounts_inside_button:hover {
    background-color: rgb(0, 172, 237);
}


@media (min-width: 550px) {
    .accounts {
        display: flex;
        max-width: 800px;
        padding: 40px;
    }
}